<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- xml -->

<mapper namespace="com.yaas.recoderroomservice.repository.IMenteeRelMapper">

    <!-- -->
    <update id="getMenteeList" parameterType="com.yaas.recoderroomservice.entity.Rooms">
        update room_tb set room_name=#{roomName}, room_info=#{roomInfo}, room_max=#{roomMax}, room_picture=#{roomPicture}
        where room_id=#{roomId}
    </update>

    <!-- -->
    <delete id="deleteMentee" parameterType="long">
        delete from mentee_rel_tb where mentee_id=#{menteeId}
    </delete>

    <!-- -->


</mapper>